
/* Contact Section */

.contact-section {
    background-color: #ffffff;
    color: #333;
    display: grid;
    grid-template-rows: auto auto auto auto;
    max-width: 1200px;
    width: 100%;
    padding: 50px 5%;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.contact-header {
    text-align: center;
}

.contact-title {
    font-size: 50px;
    color: #7c7c7c;
    margin: 20px;
    margin-top: 0;
}

.contact-div {
    display: flex;
    justify-content: center;
}

.contact-overview {
    display: flex;
    font-family: sans-serif;
    font-size: 18px;
    color: #777;
    text-align: center;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 20px 0;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    flex-grow: 1;
    height: 2px; /* Thickness of the line */
    background-color: #b4adad;
}

.divider::before {
    margin-right: 10px; /* Space between the line and the text */
}

.divider::after {
    margin-left: 10px; /* Space between the line and the text */
}

.divider {
    font-family: sans-serif;
    color: #777;
    font-size: 18px; /* Size of the "OR" text */
    text-align: center;
}


.contact-section h2 {
    font-size: 30px;
    color: #585757;
    margin: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.contact-form {
    display: grid;
    grid-template-rows: 1fr 10fr;
    width: 50%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info h3, .contact-form h3 {
    font-size: 24px;
    color: #767676;
    margin-bottom: 10px;
    text-align: center;
}

.contact-info p, .contact-form p {
    font-size: 16px;
    font-family: sans-serif;
    color: #555;
    margin: 0;
}

.email-icon {
    margin-right: 10px;
    color: #C99002;
}

.email-link {
    color: #C99002;;
    font-family: sans-serif;
    font-weight: 700;
}

.email-link:hover {
    text-decoration: none;
}

.contact-form form input {
    width: 70%;   
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}
.contact-form form textarea  {
    resize: vertical;
    width: 70%;   
    height: 100px;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}


.form-row {
    display: flex;
    justify-content: space-between;
    width: 75%;
    gap: 30px;
}

.form-row input {
    width: 50%; /* Adjusts the width of name and surname inputs */
}

.contact-form form button {
    margin-top: 30px;
    width: 20%;
    padding: 5px 10px;
    background-color: #ff8e2b;
    color: #ffffff;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form form button:hover {
    background-color: #0056b3;
}

@media (max-width: 1200px) {

    .contact-section {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0;
        border-radius: 0; 
        padding: 0;
    }

    .contact-form {
        margin-bottom: 50px;
        padding-top: 50px;
    }

    .divider {
        margin: 10px 0;
    }

}

@media (max-width: 992px) {

    .contact-section {
        width: 100%;
        margin: 0;
        border-radius: 0; 
        padding: 0;
    }

    .contact-info h3 {
        padding: 0;
        margin-top: 0;
        
    }

    .contact-form {
        height: 500px;
        width: 70%;
    }

    .divider {
        margin: 10px 0;
    }

}

@media (max-width: 768px) {

    .contact-section {
        width: 100%;
        margin: 0;
        border-radius: 0; 
        padding: 0;
    }

    .contact-info h3 {
        padding: 0;
        margin-top: 0;
        
    }

    .contact-info {
        width: 80%;
    }

    .contact-form {
        height: 500px;
        width: 80%;
    }

    .contact-form form button {
        padding: 10px 15px;
    }

    .divider {
        margin: 10px 0;
    }

    .form-row input {
        width: 50%;
    }

}