
/* Projects Section */

.projects-section {
    background-color: #ffffff;
    color: #333;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
    max-width: 1200px;
    padding: 50px 5%;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.projects-header {
    grid-column: 1 / 3;
    text-align: center;
}

.projects-title {
    font-size: 50px;
    color: #7c7c7c;
    margin: 20px;
}

.underline-container {
    display: flex;
    justify-content: center;

}

.underline {
    display: flex;
    height: 5px;
    width: 50px;
    background-color: #FF7D29;
    border-radius: 5px;
}

.overview-div {
    display: flex;
    justify-content: center;
    grid-column: 1 / 3;
}

.projects-overview {
    display: flex;
    width: 50%;
    font-family: sans-serif;
    font-size: 18px;
    color: #777;
    text-align: center;
}

.project-item {
    background-color: #ffecd1; /* Light Orange Variation */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-title {
    font-size: 24px;
    color: #FF7D29; /* Radish */
    margin: 15px;
    text-align: center;
}

.project-image {
    height: 300px;
    width: 100%;
    max-width: 300%; /* Adjust the max-width for a better fit */
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;
}

.project-description {
    font-size: 16px;
    color: #555;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.explore-more-button {
    display: inline-block;
    background-color: #FF7D29; /* Orange */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.explore-more-button:hover {
    background-color: #FFBF78; /* Radish */
}

@media (max-width: 1200px) {

    /* Projects Section */

.projects-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
    
}

@media (max-width: 992px) {

    
/* Projects Section */

.projects-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin: 0;
    border-radius: 0; 
    padding: 0;
    padding-top: 70px;
}

.projects-overview {
    display: flex;
    width: 70%;
    font-family: sans-serif;
    font-size: 18px;
    color: #777;
    text-align: center;
}

.project-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.project-image {
    height: 300px;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: contain;
}


    
}

@media (max-width: 576px) {

    
    /* Projects Section */
    
    .projects-section {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        margin: 0;
        border-radius: 0; 
    }
    
    .projects-overview {
        display: flex;
        width: 80%;
        font-family: sans-serif;
        font-size: 18px;
        color: #777;
        text-align: center;
    }
    
    .project-item {
        display: flex;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    
    .project-image {
        width: 60%;
        height: 50%; /* Adjust the max-width for a better fit */
        border-radius: 8px;
        margin-bottom: 15px;
        object-fit: contain;
    }
    
    
        
    }
