
.main {
    display: grid;
}

/* Main Content */
.main-content {
    display: grid;
    background-color: #F9F5F6;
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0; 
    padding: 0; 
    padding-top: 100px;
}

/* Sidebar Icons */
.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    grid-row: 1 / 2;
    width: fit-content;
}

.sidebar {
    background-color: #CAB8A2;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.sidebar img {
    background-color: rgb(209, 233, 246);
    padding: 0.5em;
    border-radius: 10%;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.sidebar img:hover {
    transform: scale(1.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #E0A458;
}

/* Main Content */
.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.intro {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto auto;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 4em;
    color: #333;
}

h2 {
    font-size: 3.5em;
    color: #555;
}

h3 {
    font-size: 2.2em;
    color: #333;
}

/* Project Button */
.project-button-container {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 2;
    justify-content: center;
    align-items: center;
}

.project-button > button {
    background-color: #C99002;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 7px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-button > button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Profile Picture */
.profile-pic {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.profile-pic img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 6px solid #CAB8A2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

/* Scroll-Down Button */
.scroll-down-container {
    display: grid;
    grid-row: 3;
    grid-column: 1 / 4;
    justify-content: center;
    align-items: center;
}

.scroll-down-btn {
    background-color: #F8EDE3;
    border: none;
}

.scroll-down-sign {
    font-size: 24px;
    display: block;
    line-height: 1;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
}

.scroll-down-sign img {
    height: 35px;
    width: 35px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-12px);
    }
    60% {
        transform: translateX(-50%) translateY(-6px);
    }
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {

    .main-content {
        background-color: #F9F5F6;
        display: grid;
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0; 
        padding: 0; 
        padding-top: 70px;
    }

    .sidebar-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        grid-row: 1 / 2;
    }
    
    .sidebar {
        background-color: #CAB8A2;
        padding: 0.5em;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }
    
    .sidebar img {
        background-color: rgb(209, 233, 246);
        padding: 0.5em;
        border-radius: 10%;
        transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    }
    
    .sidebar img:hover {
        transform: scale(1.15);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        background-color: #E0A458;
    }

    .intro-container {
        margin-top: 50px;
    }


    h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .profile-pic img {
        width: 250px;
        height: 250px;
        margin: 20px;
    }
    

    .project-button > button {
        padding: 10px 20px;
        font-size: 1.4rem;
    }

    .scroll-down-sign img {
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 992px) {
    .main-content {
        width: 100%;
        height: 100vh;
        margin: 0;
        margin-top: 4.5em;
        border-radius: 0; 
        padding: 0;  
        padding-top: 70px; 
    }
    .intro-container {
        margin-top: 20px;
        padding: 10px;
        align-items: center;
    }

    h1 {
        font-size: 3.5em;
        margin-bottom: 0.3em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.5em;
        margin-bottom: 0.2em;
        margin-top: 1em;
    }

    .profile-pic img {
        width: 12em;
        height: 12em;
    }

    .profile-pic {
        justify-content: center;
        align-items: start;
    }

    .project-button-container {
        justify-content: center;
        align-items: center;
    }

    .project-button button {
        padding: 0.5em 1.5em;
        font-size: 2em;
    }

    .scroll-down-sign img {
        height: 28px;
        width: 28px;
    }

    .sidebar-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        grid-row: 1 / 2;
    }
    
    .sidebar {
        background-color: #CAB8A2;
        padding: 0.5em;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }
    
    .sidebar img {
        background-color: rgb(209, 233, 246);
        padding: 0.5em;
        border-radius: 10%;
        transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    }
    
    .sidebar img:hover {
        transform: scale(1.15);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        background-color: #E0A458;
    }


}

@media (max-width: 768px) {

    .main-content {
        display: grid;
        grid-template-rows: auto auto auto 1fr;
        grid-template-columns: 1fr 4fr;
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0; 
        padding: 0;
        padding-top: 70px;
    }

      /* Sidebar as a top navigation bar */
      .sidebar-container {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 1em;
        margin-left: 0.5em;
        background-color: #CAB8A2;
        border-radius: 5px; /* Rounded corners on bottom */
        justify-content: center;
        align-items: center; /* Center items vertically */
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .sidebar img {
        background-color: rgb(209, 233, 246);
        width: 2em;
        padding: 0.5em;
        border-radius: 10%;
        transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    }

    .sidebar img:hover {
        transform: scale(1.15);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        background-color: #E0A458;
    }


    .profile-pic {
        grid-row: 1;
        grid-column: 2;
        margin-right: 150px;
    }
    .profile-pic img {
        width: 200px;
        height: 200px;
    }

    .intro-container {
        grid-row: 2;
        grid-column: 1 / 3;
        padding: 20px;
        margin: 0;
        margin-bottom: 20px;
        justify-content: start;
        align-items: center;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 2em;
        margin-top: 0;
    }

    h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .project-button-container {
        grid-row: 4;
        grid-column: 1 / 3;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .project-button {    
        margin: 20px;
        padding: 5px 10px;
        font-size: 12px;
    }

    .scroll-down-container {
        grid-row: 5;
        grid-column: 1 / 2;
    }

    .scroll-down-sign {
        height: 2em;
        font-size: 2px;
        transform: translateX(-50%);
        animation: bounce 2s infinite;
        margin-bottom: 15em;
    }

    .scroll-down-sign img {
        height: 20em;
        width: 20em;
        margin-bottom: 4em;
    }

}

@media (max-width: 576px) {



    .main-content {
        display: grid;
        grid-template-rows: auto auto auto 1fr;
        grid-template-columns: auto auto;
        width: 100%;
        max-width: 100%;        
        height: 100vh;
        margin: 0;
        border-radius: 0; 
        padding: 0;
        padding-top: 70px;
    }

      /* Sidebar as a top navigation bar */
      .sidebar-container {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 10px;
        margin-left: 10px;
        background-color: #CAB8A2;
        border-radius: 5px; /* Rounded corners on bottom */
        justify-content: center;
        align-items: center; /* Center items vertically */
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .sidebar img {
        background-color: rgb(209, 233, 246);
        width: 2em;
        padding: 0.5em;
        border-radius: 10%;
        transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    }

    .sidebar img:hover {
        transform: scale(1.15);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        background-color: #E0A458;
    }


    .profile-pic {
        grid-row: 1;
        grid-column: 2;
        margin-right: 100px;
    }
    .profile-pic img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .intro-container {
        grid-row: 2;
        grid-column: 1 / 3;
        padding: 20px;
        margin: 0;
        justify-content: start;
        align-items: center;
    }

    h1 {
        font-size: 2.5em; /* Reduced from 3em */
        margin-bottom: 10px; /* Adjust margin to fit better on small screens */
    }

    h2 {
        font-size: 2em; /* Reduced from 2em */
        margin-top: 10px; /* Adjusted margin */
    }

    h3 {
        font-size: 1.5em; /* Reduced from 1.5em */
        margin-bottom: 5px; /* Adjusted margin */
    }

    .project-button-container {
        grid-row: 4;
        grid-column: 1 / 3;
        justify-content: center;
        align-items: center;
        margin-bottom:50px;
    }

    .project-button {    
        margin: 10px;
        padding: 8px 15px;
        font-size: 14px; /* Slightly increase font size */
        width: 50%; /* Use a percentage for button width */
        max-width: 200px; /* Set a max width */
    }


    /* .scroll-down-sign img, .scroll-down-sign, .scroll-down-container {
        display: none;
    } */
}
